%a.drop{:href => '#'}
  - if @point.name.blank?
    Nowy punkt
  - else
    = "#{@point.name} (punkt)"
.dropdown_3columns.align_right
  .col_3
    = semantic_form_for  @point do |f|
      = f.inputs do
        = f.input :name
        = f.input :description
        = f.input :data, :as => :hidden
      = f.buttons do
        = f.commit_button :label => 'Zapisz '
        %li.align_right
          = link_to 'Anuluj', nil, :id => 'cancel'
        %li.align_right
          = link_to 'Usuń', @point, { :id => 'delete'} if @point.id
