%a.drop{:href => '#'}
  - if @polyline.name.blank?
    Nowa trasa
  - else
    = "#{@polyline.name} (trasa)"
.dropdown_3columns.align_right
  .col_3
    = semantic_form_for  @polyline do |f|
      = f.inputs do
        = f.input :name
        = f.input :description
        = f.input :data, :as => :hidden
        = f.input :length, :as => :hidden
        %li
          #length
            %b Długość:
            0 km
      = f.buttons do
        = f.commit_button :label => 'Zapisz '
        %li.align_right
          = link_to 'Anuluj', nil, :id => 'cancel'
        %li.align_right
          = link_to 'Usuń', @polyline, { :id => 'delete'} if @polyline.id


