#container
  .overmap
    #box
    #top
      %ul#menu
        %li
          %a.drop{:href => '#'}
            O aplikacji
          .dropdown_5columns
            .col_5
              To jest aplikacja pracy inżynierskiej
        %li.menu_left
          %a.drop{:href => '#'} Użytkownik
          .dropdown_1column
            .col_1
              %ul.simple
                %li
                  = link_to "Wyloguj (#{current_user})", destroy_user_session_path
        %li.menu_right#form_menu
          = render "new_object_list"

    .container
      - if alert
        .flash.alert= alert
      - if notice
        .flash.notice= notice
  #map
